.verse { white-space: pre-wrap; }

.pdf-load { margin-left: 20px; cursor: pointer; }
.pdf-load.loading { padding-left: 24px; background: url(load.png) no-repeat; background-size: contain; }
.pdf-viewer { clear: both; width: 100%; height: 95vh; }

#quotes { margin-top: 20px; }

.clear { clear: both; height: 0px; }

#content audio { width: 100%; }
#content img { max-width: 100%; }
.quotelet-comment { border-left: 4px solid #ccc; padding-left: 6px; margin: 4px 0 4px 0; }
