.tabberlive .tabbertabhide{display:none;}
.tabber{}
ul.tabbernav{ padding: 3px; font:bold 12px Verdana,sans-serif;}
#nav ul.tabbernav{margin:0px;padding:4px; border-bottom-style: none; }
ul.tabbernav li{list-style:none;margin:0;display:inline;}
ul.tabbernav li a{padding:8px; margin-right:6px; border:1px solid #778;background:#faecc5; text-decoration:none;}
#nav ul.tabbernav li a{padding:3px 0.5em;margin-left:3px;text-decoration:none;}
ul.tabbernav li a:link{color:#4c4c4c;}
ul.tabbernav li a:visited{color:#4c4c4c;}
ul.tabbernav li a:hover{color:#000;border-color:#227;}
ul.tabbernav li.tabberactive a{background-color:#fff;}
#nav .tabbertab a { background-color: #467AA7; border-bottom: 3px solid #4C4C4C; }
#nav ul.tabbernav li a:hover{color:cyan!important; /*background:#AAE!important;*/}
#nav ul.tabbernav li.tabberactive a{background-color:#467AA7!important;}
ul.tabbernav li.tabberactive a:hover{color:#000;background:white;}
#content .tabberlive .tabbertab{padding:5px;border:1px solid #aaa;border-top:0;}
.tabberlive .tabbertab h2{display:none;}
.tabberlive .tabbertab h3{display:none;}
#nav .about{margin-left:0px; }
#nav .service{margin-left:15px; }
#nav .products{margin-left:15px; }
#nav .tower{margin-left:135px; }
#nav .other{margin-left:70px; }
