body { background-color: #666; }

#wrapper { margin-top: 20px; }

#header, #footer { background-color: #67E3FF; padding: 10px 0 10px 0; line-height: 32px; }
#header a, #footer a { color: #003DB8; font-weight: bold; }

#menu, #menu a { background-color: #008080; color: #fff; }

#content { background-color: #F5F5F5; padding-top: 30px; }
/*#menu, #content { height: calc(~"100% - 100px"); }*/

blockquote { background-color: whitesmoke; border: 4px ridged #666; padding: 6px; }
blockquote.copyright { background-color: #FFFFA4; }

.playing { font-weight: bold; }
.folder { background:  url(folder.png) top left no-repeat; padding-left: 34px; height: 32px; display: inline-block; }

#toggle-expand { background: url(maximize.png) no-repeat; display: block; height: 32px; width: 32px; float: right; }
.expanded #toggle-expand { background-image: url(minimize.png); }
.expanded .container, .expanded #content { max-width: 100%; flex: 0 0 100%; }
.expanded #menu { display: none; }
